<div class="grid">
    <div class="col-12">
        <div id="hero" class="grid py-4 px-4 lg:px-8 relative">
            <div class="mx-4 md:mx-8 mt-0 md:mt-4">
                <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block">Binding</span>INTERPOLATION</h1>
                <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Sed blandit libero volutpat sed cras. Fames ac turpis egestas integer. Placerat in egestas erat... </p>
                <button pButton pRipple type="button" label="Get Started" class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"></button>
            </div>

            <img src="assets/demo/images/courses/Angular_full_color_logo.svg" width="400" alt="" class="sm:mt-5 md:mt-0" style="right:10%;">

            
        </div>
        <div class="card">
            <h4>Le one way binding <i class="pi pi-arrow-right" style="font-size: 1.5rem"></i> ts vers html</h4>
            <p class="left-align light">ne pas oublie d'inject FormsModule dans le app.module.ts</p>
            <p>{{messageIntro}}</p>
        </div>
    </div>
</div>
